
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^asutrio\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.asutrio\.com$
RewriteRule ^/?$ "https\:\/\/asutrio\.com\/" [R=301,L]

